<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Ephantus portfolio</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/jquery-ui.min.css">
	<script src= "bootstrap-3.3.5-dist/js/angular.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#slogan">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#myProjects">My projects<span class="sr-only">(current)</span></a></li>
        <li><a href="#profile">My profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#talkToUs">Talk To Us</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
	<section class="row text-center jumbotron" id="slogan">
		<h1>I build the future and its awesome!!! </h1>
			<a href="#myProjects" class="btn btn-warning">GO TO MY PROFILE</a>

	</section>
</div>


<div class="container">
	
	<div class="text-center" id="myProjects">
		<h1>MY PROJECTS</h1> 
		<p>Find Mongodb, Javascript, Boostrap and Ruby on Rails work of several corporate websites finished and launched.</p>
	</div>

		<section class="row" id="gallery">
			<div class="col-sm-3">
				<img src="images/mongodb.png" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:280px">	
					<button type="button" class="btn btn-primary btn-lg btn-block">MONGO DB</button>	

			</div>

			<div class="col-sm-3">
				<img src="images/javascript.png" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:280px">
					<button type="button" class="btn btn-primary btn-lg btn-block">JAVASCRIPT</button>
			</div>
			<div class="col-sm-3">
				<img src="images/bootstrap.jpg" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:280px">	
					<button type="button" class="btn btn-primary btn-lg btn-block">BOOTSTRAP</button>
			</div>

			<div class="col-sm-3">
				<img src="images/ruby.png" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:280px">
					<button type="button" class="btn btn-primary btn-lg btn-block">RUBY</button>
			</div>

		</section>
		<div class="row text-center" id="myProficiencies">
				<h1>PROFICIENCIES</h1> 
				<p>I possess invaluable expertise in the listed environments which help my clients achieve competitive advantage and value for their money.</p>
		</div>
		<section class="row text-center" id="proficiencies">
			<div class="col-sm-3">
				<img src="images/linux.jpg" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:230px">
					<a href="http://linux.com" target="_blank" class="btn btn-success btn-lg btn-block">LINUX</a>
			</div>
			<div class="col-sm-3">
				<img src="images/windows.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:230px">
					<a href="http://microsoft.com" target="_blank" class="btn btn-success btn-lg btn-block">WINDOWS</a>
			</div>
			<div class="col-sm-3">
				<img src="images/terminal.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:230px">
					<a href="http://linux.com" target="_blank" class="btn btn-success btn-lg btn-block">TERMINAL</a>
			</div>
			<div class="col-sm-3">
				<img src="images/github_android.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" style="min-height:230px">
					<a href="http://github.com" target="_blank" class="btn btn-success btn-lg btn-block">GITHUB & ANDROID</a>
			</div>

		</section>
		<div class="col-sm-12 text-center" id="qualifications">
			<h3><u>ACADEMIC AND PROFESSIONAL QUALIFICATIONS:</u></h3>
			<ul>
				<pre class="text-left">
					BACHELOR OF BUSINESS AND MANAGEMENT
					NETWORK N+
					CCNA
				</pre>
			</ul>
			
		</div>

			<!--Sample profile-->

				<section class="row">
					<div class="page-header text-center" id="profile">
						<h1>My Profile</h1>

					</div>
					<div class="col-sm-6" id="MissionVision">
						<div id="accordion">
							<h3>My Vision</h3>
								<div>
									<p>My vision is to become a fullstack developer who can perform tasks both
									in the front end and back end. I am also an aspiring programmer and a business person</p>
								</div>
							<h3>My Mission</h3>	
								<div>
									<p>My vision will be achieved by simply learning various languages which includes HTML CSS, JAVASCRIPT,JQUERY, RUBY, BOOTSTRAP, ANGULARJS. Above all I need to be a disciplined student of the Dev School, believe in God and work hard.</p>
								</div>
							<h3>My Objectives</h3>
								<div>
									<p>My objective is to become a senior developer and become a consultant in the development industry.</p>
								</div>	
						</div>
						
					</div>

					<div class="col-sm-6">
					<div id="tabs">
							  <ul>
							    <li><a href="#tabs-1">Professional Skills</a></li>
							    <li><a href="#tabs-2">Hobbies</a></li>
							    <li><a href="#tabs-3">Affiliations</a></li>
							  </ul>
							  <div id="tabs-1">
							    <ul>
							    	JAVASCRIPT
							    	JQUERY
							    	BOOTSTRAP
							    	RUBY
							    	HTML CSS
							    </ul>
							  </div>
							  <div id="tabs-2">
							  <li>
							   READING MOTIVATIONAL BOOKS
							   WATCHING FOOTBALL
							   </li>
							  </div>
							  <div id="tabs-3">
							    <p>I am a member of:</p>
							    <ul>
							    	I-Hub
							    	M-Lab
							    	Garage
							    	Chess club
							    </ul>
							  </div>
					</div>
						
					</div>
					

				</section>

				<section class="row">
					<div class="row col-sm-4" ng-controller="detailsController">
						
						<h6>First Name: {{fname}}</h6>
						<h6>Last Name: {{lname}}</h6>
						<h6>Course: {{course}}</h6>
						<h6>School: {{school}}</h6>
						<h6>Gradee: {{grade}}</h6>
					</div>

					<div class="row col-sm-6" ng-controller="carsController">
						<table border="1px"class="table table-hover table-condensed">
						<input type="text" ng-model="test" Placeholder="Search">
						<caption>CARS</caption>
						<th>Type</th>
						<th>Model</th>
						<th>Brand</th>
						<th>Year</th>
						<th>Cost</th>
						<th>Photo</th>

							<tr class="info" ng-repeat="x in cars | filter:test | orderBy: 'cost'">
								<td>{{x.type | uppercase}}</td>
								<td>{{x.model}}</td>
								<td>{{x.brand}}</td>
								<td>{{x.year}}</td>
								<td>{{x.cost | currency}}</td>
								<td><img style="max-width:50px" ng-src="{{x.image}}"/></td>

								<td>
								<p ng-show="{{x.year}} < 2005">This car is too old!</p>
								<p ng-show="{{x.year}} > 2005">This car is new!</p>
								</td>
							</tr>
						</table>
						
					</div>

				</section>
				<section class="row">
					<div class="col-sm-12" ng-controller="blogsController" id="blogs">
					<input type="text" ng-model="test" Placeholder="Search">
						<ul ng-repeat="x in blogs | filter:test">
							<li>{{x.id}}</li>
							<li>{{x.name}}</li>
							<li>{{x.email}}</li>
							<li>{{x.body}}</li>

						</ul>
						
					</div>
				</section>
				

		<footer class="row">
			<div class="page header text-center" id="talkToUs">
					<h1>Talk To Us</h1>
			</div>	
			<div class="row col-sm-6">
				<form name="contactForm" action="/" method="post" novalidate>
					<div class="form-group">
						<label for InputEmail="inputEmail">Enter your email</label>
						<input	type="email" name="email" ng-model ="email" placeholder="Enter your Email" class="form-control" required/>
						<span id="validate" ng-show="contactForm.email.$error.required">Please enter a valid email</span>
						<span id="validate" ng-show="contactForm.email.$error.email">Please use someone@example.com</span>
					</div>

					<div class="form-group">
						<label placeholder="Enter your comment here." >Leave a Comment</label>
						<textarea rows="10" cols="8" name="comment" id="inputComment" class="form-control" ng-model ="comment" required></textarea>	
						<span id="validate" ng-show="contactForm.comment.$error.required">Your comment is empty</span>		
	<div>
		    Size (integer 0 - 10):
		    <input type="number" ng-model="size" name="size"
		           min="0" max="10" integer required/>{{size}}<br/>
		    <span ng-show="contactForm.size.$error.integer">The value is not a valid integer!</span>
		    <span ng-show="contactForm.size.$error.min || contactForm.size.$error.max">
		      The value must be in range 0 to 10!</span>
  </div>		

					</div>
					<input type="Submit" ng-disabled="contactForm.$invalid" class="btn btn-warning" value="Submit Comment">
					
				
				
			</div>
			<div class="row col-sm-4"></div>
			<div class="col-sm-6 text-center" id="socialMedia">		
					<a href="https://facebook.com"><img src="images/facebook.png"></a>
					<a href="https://twitter.com"><img src="images/twitter.png"></a>
					<a href="http://whatsapp.com"><img src="images/WhatsApp.png"></a>
					<a href="http://pinterest.com"><img src="images/pinterest.png"></a>
					<a href="http://youtube.com"><img src="images/youtube.png"></a>
					<a href="https://www.linkedin.com"><img src="images/linkedin.png"></a>

		
			</div>

</footer>
	
</div>
<div class="container">
<section class="footer">

<div class="page-header ">
    <h1 class="text-center"> Open Source Stuff</h1>
    

        </div>
        <div class="row text-center" id="open-source-container">
        <p class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">Loading...</p>
        
         </div>
            </section>
            </form>

				<form action="/login" method="POST">
				<!--username, password, email, button-->
					
					<label for="">Username</label>
					<input type="text" name="username" placeholder="Username">
					<br>
					<label for="">Password</label>
					<input type="password" name="password" placeholder="Password">
					<br>
					<label for="">Email</label>
					<input type="Email" name="email" placeholder="Email">
					<br>
					<input type="submit" value="Login">
					


				</form>
				</div>









<script src="bootstrap-3.3.5-dist/js/jquery.min.js"></script>
<script src="bootstrap-3.3.5-dist/js/jqueryUi.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="js-user/controllers.js"></script>
<script src="js-user/jqueryUiWork.js"></script>

</body>
</html>