#slogan {
	background-image: url('images/coverlogo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 200px 0px;
	color: yellow;
}

#myProjects {
	padding: 5px 0px;
}

#scroll-down {
	padding: 5px 0px;
}

#proficiencies {
	padding: 50px 0px;
}

#gallery {
	padding: 50px 0px;
}

#talkToUs {
	padding: 50px 0px;
}

#qualifications {
	padding: 25px 0px;
	background-color: #F7F7F7;
}
#nav-bar {
	color: black;
}
#blogs{
	list-style: none;
	rotate: 10px;
}
#validate {
	color: red;
}
#sign-up-form {
	
	
}